<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> About Us </h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione suscipit deleniti a cupiditate repudiandae, quasi quod sit tenetur reprehenderit voluptatum, ipsam deserunt aspernatur delectus iure. Culpa autem eaque, aspernatur maiores quod voluptatem laborum nisi nemo repellat accusantium ab vitae quia!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste odio obcaecati praesentium repudiandae, ducimus, atque alias voluptatem vero sequi nostrum earum neque eveniet corporis eos velit perspiciatis ea voluptate esse quibusdam aut? Necessitatibus fugit aperiam obcaecati, delectus voluptas magni sunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sint, provident natus minus esse ex suscipit. Quaerat ea illum, quisquam eos illo dolores, iste at fuga blanditiis molestias omnis vero itaque nemo dolorem ab repellat, minus dicta rem necessitatibus repellendus.</p>
            
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home </button>
            </div>
        </div>
    </div>
</section>